@charset "UTF-8";

body{
    background-color:rgba(128, 128, 128, 0.463) ;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: grey;
    text-align: center;
    margin: -10px;
    padding: 20px;
}

menu{
    
}