@charset "UTF-8";

/*para as demais midias*/

/* Typical device breakpoints
pequenas telas: até 600px
celular: 600 até 768
tablet: de 768 até 992 
desktop: 992 até 1200 px
grandes telas: acima de 1200px 
*/

@media print { /*impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow:none ;
        color: black;
    }
    
    img#phone {display: none;}
    img#tablet { display: none;}
    img#pc { display: none;}
    img#print { display: block;}
    img#tv { display: none;}
}

@media screen and (min-width: 760px) and (max-width: 992px) { /*TABLET*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet { display: block;}
    img#pc { display: none;}
    img#print { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tablet { display: none;}
    img#pc { display: block;}
    img#print { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 1200px) { /*GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    
    img#phone {display: none;}
    img#tablet { display: none;}
    img#pc { display: none;}
    img#print { display: none;}
    img#tv { display: block;}
}